
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.symbolInfoFieldWrapper{
    float: left;

}

.symbolInfoField {
    /* display: inline-block; */
    animation: fadeIn 0.1s ease-in-out;
    white-space: nowrap;
}


@keyframes changePositive{
    0% {
        color: var(--green);
    }
    100% {
        color: var(--text1);
    }
}

@keyframes changeNegative{
    0% {
        color: var(--red);
    }
    100% {
        color: var(--text1);
    }
}

.symbolInfoFieldLabel {
    color: var(--text2);
    padding-right: 1rem;
}

.symbolInfoFieldValue {

    color: var(--text1);
    margin-top: .2rem;
    font-family: var(--font-family-chivo);
    /* letter-spacing: -.04rem; */
}

.symbolInfoFieldValue.positiveAnimation {
    animation: changePositive 1s ease-in-out;
}

.symbolInfoFieldValue.negativeAnimation {
    animation: changeNegative 1s ease-in-out;
}

.symbolInfoFieldValue.positive {
    color: var(--green);
}

.symbolInfoFieldValue.negative {
    color: var(--red);
}


.inverseColor .symbolInfoFieldValue.positive {
    color: var(--red);
}

.inverseColor .symbolInfoFieldValue.negative {
    color: var(--green);
}

.inverseColor .symbolInfoFieldValue.positiveAnimation {
    animation: changeNegative 1s ease-in-out;
}

.inverseColor .symbolInfoFieldValue.negativeAnimation {
    animation: changePositive 1s ease-in-out;
}
