.container {
    --menu-item-height: 23px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    gap: var(--gap-xs);
    top: 40px;
    right: 0;
    width: 210px;
    border-radius: var(--radius-m, 16px);
    padding: var(--padding-s);
    background: var(--bg-dark3, #16161c);
    box-shadow: var(--dropdown-box-shadow);

    height: auto;

    transition:
        max-height var(--ease-in-out-med),
        opacity var(--ease-in-out-med);
    z-index: var(--z-index-navbar-dropdown, 999);
}

.menuItem {
    height: var(--menu-item-height);
    display: flex;
    padding: 2px var(--padding-xs);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: var(--radius-s, 8px);
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-m, 18px);
    cursor: pointer;
    transition: all var(--ease-in-out-med);
    user-select: none;
}
.menuItem:hover {
    background: var(--bg-dark4);
}

.version {
    color: var(--text2, #6a6a6d);
    font-size: var(--font-size-s, 12px);
    margin-top: var(--margin-s);
    height: 19px;
}

.logoutButton {
    outline: none;
    border: none;
    display: flex;
    height: 29px;
    padding: var(--button-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: var(--radius-s, 8px);
    background: var(--accent1, #7371fc);
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-m, 18px);
    transition: all 0.3s ease-in-out;
}

.logoutButton:hover {
    background-color: color-mix(in srgb, var(--accent1) 90%, black);
}

.toggleButton {
    display: none;
}
.tutorialButton {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 2px;
    padding-left: var(--padding-xs);
}
