.rowContainer {
    width: 100%;
    height: var(--table-row-height);
    padding-left: var(--padding-s);
    gap: var(--gap-s);
    display: grid;
    grid-template-columns: 1.6fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr;
    align-items: center;
}

.rowContainer.noTpSl {
    grid-template-columns: 1.6fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr 0.8fr 1fr;
}

.headerContainer {
    background: var(--bg-dark2);
    width: 100%;
    height: var(--table-header-height);
    padding-left: var(--padding-s);
    gap: var(--gap-s);
    display: grid;
    grid-template-columns: 1.6fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 10;
}

.headerContainer.noTpSl {
    grid-template-columns: 1.6fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr 0.8fr 1fr;
}

.cell {
    font-size: var(--font-size-s, 12px);
    color: var(--text1, #f0f0f8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerCell {
    color: var(--text2, #6a6a6d);
    font-size: var(--font-size-xs, 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    cursor: default;
}

.sortable {
    cursor: pointer;
}
.tpslCell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}
.tpslCell button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.sizeCell,
.filledSizeCell,
.orderValueCell,
.priceCell,
.tpslCell,
.orderIdCell {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1400px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr;
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr 0.8fr 1fr;
    }

    .filledSizeCell {
        display: none;
    }
}

@media (max-width: 1200px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr;
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 0.8fr 1fr;
    }

    .reduceOnlyCell {
        display: none;
    }
}

@media (max-width: 1000px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr 1fr;
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 1fr 1fr;
    }

    .typeCell {
        display: none;
    }
}

@media (max-width: 900px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr 1fr;
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 1fr 1fr;
    }

    .sizeCell {
        display: none;
    }
}

@media (max-width: 768px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1fr;
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 0.8fr 0.8fr 1fr 0.8fr 1fr 1fr;
    }

    .priceCell {
        display: none;
    }
}

@media (max-width: 640px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.8fr 0.8fr 1fr 0.8fr 1fr 0.8fr;
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 0.8fr 0.8fr 1fr 1fr 0.8fr;
    }

    .triggerConditionsCell {
        display: none;
    }
}

@media (max-width: 540px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.8fr 1fr 0.8fr 1fr 0.8fr;
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 0.8fr 1fr 1fr 0.8fr;
    }

    .coinCell {
        display: none;
    }
}

@media (max-width: 480px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.8fr 1fr 1fr;
        padding: 0 var(--padding-xs);
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 0.8fr 1fr 1fr;
    }

    .statusCell {
        display: none;
    }

    .headerCell {
        font-size: var(--font-size-xs);
    }

    .cell {
        font-size: var(--font-size-s);
    }
}

@media (max-width: 400px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .rowContainer.noTpSl,
    .headerContainer.noTpSl {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .directionCell {
        display: none;
    }
}
