.container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    position: absolute;
    top: 56px;
    right: 0;
    width: 197px;
    height: auto;
    display: flex;
    padding: var(--padding-xs) var(--padding-s);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-xs);
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark4, #0e0e14);
    box-shadow: var(--dropdown-box-shadow);
    transition:
        opacity var(--ease-in-out-med),
        visibility var(--ease-in-out-med);

    /* ---------------------------- */

    opacity: 1;
    height: auto;
    visibility: visible;
    pointer-events: auto;
    height: auto;

    z-index: var(--z-index-navbar-dropdown);
}

.container a {
    color: var(--text2, #6a6a6d);
    font-size: var(--font-size-m, 18px);
}

.row {
    display: block; /* Makes the link fill the container width */
    width: 100%; /* Ensures full width */
}
