.skeletonTable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@keyframes rowAnim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.skeletonRow {
    display: flex;
    gap: 20px;
}
