.tradeCartToolbar {
    position: absolute;
    top: 0.3rem;
    right: 10.7rem;
    z-index: 10;
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
    align-items: center;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

.cartTrigger {
    cursor: pointer;
    position: relative;
    padding: 0.2rem 0.3rem;
    border-radius: var(--radius-s);
}

.iconElement {
    color: var(--text2);
    transition: all 0.2s ease-in-out;
}

.tradeSizeWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    background: var(--bg-dark3);
    padding: 0.2rem 0.5rem;
    border-radius: var(--radius-s);
    font-size: var(--Font-Size-Font-S, 12px);
}

.tradeSizeWrapper input {
    background: transparent;
    border: none;
    outline: none;
    justify-content: center;
    color: white;
    max-width: 3.6rem;
}

.tradeSizeLabel {
    display: flex;
    align-items: center;
    color: var(--text2);
    margin-right: 1rem;
}
.draftOrdersCount {
    --draft-orders-count-size: 1rem;
    position: absolute;
    top: calc(var(--draft-orders-count-size) * -0.3);
    right: calc(var(--draft-orders-count-size) * -0.4);
    background: var(--accent1);
    color: var(--white);
    border-radius: 50%;
    font-size: calc(var(--font-size-xs));
    width: var(--draft-orders-count-size);
    height: var(--draft-orders-count-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: -2rem;
    background: var(--bg-dark3);
    border-radius: var(--radius-s);
    padding: var(--padding-s);
    width: 10rem;
    font-size: calc(var(--font-size-s));
}

.iconBtn {
    cursor: pointer;
}

.iconBtn.active {
    background: var(--bg-dark4);
}

.iconBtn.active .iconElement {
    color: white;
}

.iconBtn:hover .iconElement {
    color: white;
}

.cartEmpty {
    color: var(--text2);
}

.greyText {
    color: var(--text2);
}

.cartModeTriggerBtn {
    cursor: pointer;
    background: var(--bg-dark4);
    padding: 0.2rem 0.5rem;
    border-radius: var(--radius-s);
    font-size: calc(var(--font-size-s));
    margin-top: 0.2rem;
    transition: background 0.2s ease-in-out;
    border: 1px solid color-mix(in srgb, var(--accent1) 30%, transparent);
}
.cartModeTriggerBtn:hover {
    background: var(--bg-dark3);
}
