.filterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    gap: 8px;
}

.vaultFilter {
    display: flex;
    align-items: center;
    background-color: var(--dark2);

    height: 30px;
    width: 130px;

    font-family: var(--font-family-main);
}
