.fogo_header_banner_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.fogo_header_banner_wrapper img {
    width: 100%;
    height: 70px;
    object-fit: fill;
}
