.container {
    --container-width: 331px;
    --container-height: 179px;
    --avatar-width-height: 50px;
    --button-height: 25px;
    --token-width-height: 30px;
    --token-padding: 3.75px;

    width: var(--container-width);
    height: var(--container-height);
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    position: absolute;
    top: var(--dropdown-top);
    right: 0;
    padding: var(--padding-m) var(--padding-s);
    border-radius: var(--radius-m);
    background: var(--bg-dark3, #16161c);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);

    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
        opacity var(--ease-in-out-med),
        visibility var(--ease-in-out-med);

    /* ---------------------------- */

    opacity: 1;
    height: auto;
    visibility: visible;
    pointer-events: auto;
    z-index: var(--z-index-navbar-dropdown);
}

.walletMenu.open {
    opacity: 1;
    height: auto;
    visibility: visible;
    pointer-events: auto;
}

.walletButton {
    width: 87px;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    height: 25px;
    padding: var(--padding-xs);
    align-items: center;
    gap: var(--gap-s);
    flex-shrink: 0;
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark3, #0e0e14);
    color: var(--accent1, #7371fc);
    font-size: var(--font-size-s, 12px);
}

.walletButton:hover {
    background: var(--bg-dark3, #16161c);
}

.profileContainer {
    display: flex;
    justify-content: center;
    gap: var(--radius-m);
    align-items: center;
}

.imgContainer {
    display: flex;
    width: var(--avatar-width-height);
    height: var(--avatar-width-height);
    border-radius: 50%;
}

.profileRight {
    display: flex;
    flex-direction: column;
}

.profileRightTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--radius-m);
    color: var(--text1, #f0f0f8);
    text-align: center;
    font-size: var(--font-size-m, 18px);
}

.profileRightTop svg {
    color: var(--text2);
    cursor: pointer;
}
.profileRightTop svg:hover {
    color: var(--text1);
}
.actionButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding-s);
}

.actionButtons button {
    height: var(--button-height);
    display: flex;
    padding: 1px var(--padding-s);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    outline: none;
    border: none;
    cursor: pointer;

    /* Main/M */
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-m);
}

.accountButton {
    border-radius: var(--radius-s);
    background: var(--bg-dark4, #1e1e24);
}
.logoutButton {
    border-radius: var(--radius-s);
    background: var(--accent1, #7371fc);
}

.profileRightBottom {
    display: flex;
    gap: var(--radius-m);
    align-items: center;
    color: var(--text2, #6a6a6d);
    text-align: center;
    font-size: var(--font-size-font, 12px);
}

.tokensContainer {
    display: flex;
    padding: 0px var(--padding-xs);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-xs);
    align-self: stretch;
    border-radius: var(--radius-xs);
    background: var(--bg-dark4, #1e1e24);
}

.tokenDisplayContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px var(--padding-s) var(--padding-xs) var(--padding-s);
    align-items: center;
    gap: var(--gap-xs);
    align-self: stretch;
    border-bottom: 1px solid var(--bg-dark3, #16161c);
    height: 38px;
}

.tokenDisplayLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}

.tokenDisplayImg {
    display: flex;
    width: var(--token-width-height);
    height: var(--token-width-height);
    padding: var(--token-padding);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.tokenDisplayName {
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-m, 18px);
    flex: 1 1 0;
}

.tokenDisplayRight {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    justify-content: space-between;
}

.tokenDisplayRight h3 {
    color: var(--text1, #f0f0f8);
    text-align: right;
    font-size: var(--font-size-m, 18px);
}

.tokenDisplayRight p {
    color: var(--text2, #6a6a6d);
    text-align: right;
    font-size: var(--font-size-s, 12px);
}
