
.symbolInfoContainer {
    width: 100%;
    font-family: var(--font-family-main);
    font-size: .8rem;
    display: flex;
    flex-direction: row;
}

.symbolInfoContainer div{
    height: auto !important;
}

.symbolSelector {
    /* flex-grow: auto; */
    margin-left: 2rem !important;
}

.symbolInfoFieldsWrapper {
    /* flex-grow: auto; */
    /* max-width: calc(100% - 10rem); */
    display: grid;
    grid-template-columns: repeat(7, auto) !important;
    gap: 2rem;
    margin-left: 2rem;
    /* white-space: nowrap;

    overflow: hidden; */
}
