.container {
    width: 100%;
    height: 100%;
    padding: 0px var(--main-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    position: relative;
}

.container nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-l);
}

.container nav a,
.moreButton {
    color: var(--text2, #6a6a6d);
    font-size: var(--font-size-m, 18px);
}

.moreButton {
    outline: none;
    background: transparent;
    border: none;
    text-transform: capitalize;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.moreButton svg {
    margin: 8px 0;
}
.container nav a:hover,
.moreButton:hover {
    color: var(--text1);
    transition: all var(--ease-in-out-med);
}
.activeNavLink {
    color: var(--text1) !important;
}

.rightSide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}
.menuButtonMobile {
    display: none;
    width: 25px;
    height: 25px;
    padding: 4.5px;
    justify-content: center;
    align-items: center;

    border-radius: var(--half-border-radius, 8px);
    background: var(--bg-dark2, #0e0e14);
    outline: none;
    border: none;
}
.menuButton {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 4.5px;
    justify-content: center;
    align-items: center;

    border-radius: var(--half-border-radius, 8px);
    background: var(--bg-dark2, #0e0e14);
    outline: none;
    border: none;
}

.menuButton svg,
.menuButtonMobile svg,
.walletButton svg {
    color: var(--text2);
}
.menuButtonMobile:hover > svg,
.menuButton:hover svg,
.walletButton:hover svg {
    color: var(--text1) !important;
}
.internationalButton {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 4.5px;
    justify-content: center;
    align-items: center;
    border-radius: var(--half-border-radius, 8px);
    background: var(--bg-dark2, #0e0e14);
    outline: none;
    border: none;
}

.internationalButton svg {
    stroke: var(--text2);
}
.internationalButton:hover svg {
    stroke: var(--text1) !important;
}

.mobileNavCloseButton {
    display: none;
    outline: none;
    border: none;
    background: transparent;
}

.walletMenu.open {
    opacity: 1;
    height: 350px;
}
.walletButton {
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    height: 25px;
    padding: 4px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: var(--half-border-radius, 8px);
    background: var(--bg-dark2, #0e0e14);
    color: var(--accent1, #7371fc);
    font-size: var(--font-size-s, 12px);
}

.walletButton:hover {
    background: var(--bg-dark3, #16161c);
}

.rpcButton {
    outline: none;
    border: none;
    width: 45px;
    display: flex;
    height: 25px;
    padding: 4px;
    align-items: center;
    gap: 4px;
    border-radius: var(--half-border-radius, 8px);
    background: var(--bg-dark2, #0e0e14);

    color: var(--text1, #f0f0f8);

    /* Main/S */
    font-size: var(--font-size-s, 12px);
}

.networkButton {
    min-width: 120px;
    text-align: center;
    outline: none;
    border: none;
    width: auto;
    display: flex;
    justify-content: center;
    height: 25px;
    padding: 4px;
    align-items: center;
    gap: 4px;
    border-radius: var(--half-border-radius, 8px);
    background: var(--bg-dark2, #0e0e14);

    color: var(--text2);
}
.networkButton:hover {
    color: var(--text1, #f0f0f8);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-1px); /* Smaller upward movement */
    }
    50% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-1px); /* Even smaller second bounce */
    }
    100% {
        transform: translateY(0);
    }
}
/* Responsive Styles */

@media (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 80% !important;
        background-color: var(--bg-dark2);
        flex-direction: column !important;
        align-items: flex-end !important;
        padding: var(--main-padding);
        gap: 32px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transition: right var(--ease-in-out-med);
        z-index: 1000;
    }

    .showMenu {
        right: 0;
    }

    .menuButtonMobile {
        display: flex;
    }

    .mobileNavCloseButton {
        display: flex;
        justify-content: end;
        align-items: end;
        background: var(--bg-dark1);
        width: 100%;
        padding: var(--main-padding);
        border-radius: var(--main-border-radius);
    }
}
