:global(p) a,
:global(li) a {
    color: var(--accent1);
    text-decoration: underline;
    cursor: pointer;
}

:global(p) a:hover,
:global(li) a:hover {
    color: var(--accent1-dark);
    text-decoration: underline;
}

:global(p) a:visited,
:global(li) a:visited {
    color: var(--accent1-dark);
}
