/* top-level return for `MarginModal.tsx` file */
.margin_modal_content {
    display: flex;
    flex-direction: column;
    width: 708px;
    height: auto;
    padding: var(--padding-s) var(--padding-m) var(--padding-m) 16px;
    align-items: flex-start;
    gap: var(--gap-s);
}

/* organizational wrapper for mode toggle buttons */
.margin_modal_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-m);

    /* centralized CSS for border to apply situationally */
    --margin_modal_button_border: 1px solid var(--accent1);
}

/* clickable buttons to change the current margin mode */
.margin_modal_buttons > button {
    border-radius: var(--radius-m, 16px);
    border: 1px solid var(--bg-dark4);
    background: var(--bg-dark4, #27272c);
    display: flex;
    padding: var(--padding-m);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-m);
    flex: 1 0 0;
    align-self: stretch;
    color: var(--text2, #bcbcc4);
    cursor: pointer;
    font-size: var(--font-size-s, 12px);
    transition: all var(--ease-in-out-med);
    text-align: start;
}

/* hover effect for margin mode buttons */
.margin_modal_buttons > button:hover {
    border: var(--margin_modal_button_border) !important;
}

/* headline text inside each margin mode button */
.margin_modal_buttons > button > h3 {
    font-size: var(--font-size-m, 18px);
    color: var(--text1);
}

.selected {
    border: var(--margin_modal_button_border) !important;
    background-color: green;
}

@media (max-width: 768px) {
    .margin_modal_content {
        width: auto;
    }

    .margin_modal_buttons {
        display: flex;
        flex-direction: column;
    }
}
