.symbolInfoContainer {
    --funding-rate-tooltip-width: 300px;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    border-radius: var(--radius-m);
}

.symbolInfoFieldsWrapper {
    display: grid;
    grid-template-columns: repeat(7, auto) !important;
    gap: var(--gap-m);
    padding-inline-start: var(--margin-l);
    border-radius: 0 !important;
}
.fundingTooltipContent {
    width: var(--funding-rate-tooltip-width);
    text-wrap: wrap;
    word-wrap: break-word;
    text-align: start;
}

@media (max-width: 480px) {
    .symbolInfoContainer {
        border-radius: var(--radius-s) !important;
    }
}

@media (max-width: 768px) {
    .symbolInfoContainer {
        display: flex;
        align-items: center;
    }

    .symbolInfoContainer > :first-child {
        flex: 0 0 auto;
    }

    .symbolInfoContainer > :nth-child(2) {
        flex: 1 1 auto;
        min-width: 0;
        overflow: hidden;
    }
    .symbolSelector {
        margin-left: 0 !important;
    }
}
