.container {
    --container-width: 303px;
    --container-height: 300px;
    --overview-container-height: 100%;
    --not-connected-container-height: 180px;

    width: auto;
    height: auto;
    opacity: 1;
    height: auto;
    visibility: visible;
    pointer-events: auto;

    z-index: var(--z-index-navbar-dropdown);
}
.container,
.dropdownContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    padding: var(--padding-s);
    border-radius: var(--radius-m, 16px);
    box-shadow: var(--dropdown-box-shadow);
    transition:
        opacity var(--ease-in-out-med),
        visibility var(--ease-in-out-med);

    display: grid;
    grid-template-rows: auto 1fr;
}
.dropdownContainer {
    background: var(--bg-dark3, #0e0e14);
    position: absolute;
    top: var(--dropdown-top);
    right: 0;
    width: var(--container-width);
    height: var(--container-height);
}

.actionButtons {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    grid-row: 1;
}
.dropdownActionButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-s);
    grid-row: 1;
}

.notConnectedContainer {
    height: var(--not-connected-container-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--radius-s);
}

.notConnectedText {
    color: var(--text1, #f0f0f8);
    text-align: center;
    font-size: var(--font-size-s);
    max-width: 200px;
}
.overviewContainer {
    display: flex;
    padding: var(--padding-s);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-s);
    align-self: stretch;

    border-radius: var(--radius-s);
    border: 1px solid var(--bg-dark4, #1e1e24);
    overflow-y: auto;
    height: var(--overview-container-height);
    position: relative;
    grid-row: 2;

    /* Default state - show fade */
    /* mask: linear-gradient(to bottom, black 0%, black 70%, transparent 100%);
    -webkit-mask: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        transparent 100%
    ); */

    transition:
        mask 0.2s ease,
        -webkit-mask 0.2s ease;
}
.dropdownContainer .overviewContainer {
    background: var(--bg-dark2) !important;
}

/* When scrolled to bottom - remove fade */
.overviewContainer.scrolledToBottom {
    mask: none;
    -webkit-mask: none;
}
.overviewContainer::-webkit-scrollbar {
    display: none;
}
.overviewContainer h3 {
    /* flex: 1 0 0; */
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s);
}

.overviewItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overviewLabel {
    color: var(--text2, #6a6a6d);
    text-align: center;
    font-size: var(--font-size-s, 12px);
}

.tooltipContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}

.value {
    color: var(--text1, #f0f0f8);
    text-align: center;
    font-size: var(--font-size-s, 12px);
}

@media (max-width: 600px) {
    .dropdownContainer {
        left: -50px;
    }
}
