node_modules
.git
.gitignore
.husky
.react-router
.vscode
.netlify
*.md
.prettierrc
.prettierignore
build
dist
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
