.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Netlify
.netlify

/.prettierignore


# Tradingview
/public/tv/charting_library
/public/tv/datafeeds

/public/tradingview/charting_library
/public/tradingview/datafeeds