@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
:root {
  /* Dark Shades */
  --dark1: #06060c;
  --dark2: #0e0e14;
  --dark3: #16161c;
  --dark4: #1e1e24;
  --dark5: #23232a;
  --dark6: #27272f;

  /* Text Colors */
  --text1: #f0f0f8;
  --text2: #6a6a6d;
  --text3: #424246;

  /* Accent Colors */
  --accent1: #7371fc;
  --accent2: #e480ff;
  --accent3: #5ffff2;
  --accent4: #71b5fc;
  --accent5: #cdc1ff;

  /* Other Colors */
  --green: #26a69a;
  --red: #ef5350;
  --orange: #e78a56;

  /* gaps */
  --main-gap: 8px;
  --header-link-gap: 32px;
  --main-padding: 8px;

  --main-border-radius: 16px;
  --half-border-radius: 8px;

  /* widths */
  --order-book-width-desktop-large: 280px;
  --order-book-width-desktop-small: 220px;

  --trade-module-width-desktop-large: 350px;
  --trade-module-width-desktop-small: 280px;

  /* fonts */
  --font-family-main: 'Lexend Deca';

  --font-size-l: 24px;
  --font-size-m: 18px;
  --font-size-s: 12px;
}

/* Custom Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-sans, sans-serif);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark1);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}
