@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.symbolInfoFieldWrapper {
    float: left;
}

.symbolInfoField {
    /* display: inline-block; */
    animation: fadeIn 0.1s ease-in-out;
    white-space: nowrap;
}

.symbolInfoFieldLabel {
    color: var(--text2);
    padding-right: var(--padding-m);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}
.tooltip {
    width: 15px;
    animation: fadeIn 0.1s ease-in-out;
}
.tooltip > div {
    z-index: 9999 !important;
}
.tooltip svg {
    display: none;
}

.symbolInfoFieldValue {
    color: var(--text1);
    margin-top: 0.2rem;
}
.symbolInfoField:hover .tooltip svg {
    display: flex;
}

.mobilePopupBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    backdrop-filter: blur(0.3px);
}

.mobilePopup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--dark2);
    background-color: red;
    color: var(--text2);
    padding: 20px;
    border-top: 1px solid var(--border-color);
    z-index: 9999;
    animation: slideUp 0.2s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
