.container {
    --container-min-width: 300px;
    --container-width: 350px;
    --container-height: 290px;
    --logo-width-height: 60px;
    --logo-padding: 7.5px;
    --apr-display-width: 50px;

    display: flex;
    padding: var(--padding-m);
    flex-direction: column;
    align-items: center;
    gap: var(--gap-m);
    border-radius: var(--radius-m);
    background: var(--bg-dark2, #111117);
    width: var(--container-width);
    height: var(--container-height);
    flex: 1 1 var(--container-width); /* Grow, shrink, and basis */
}
.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-m);
}
.headerTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-xs);
    flex: 1 0 0;
}
.headerTextContainer h3 {
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-l);
}
.headerTextContainer h6 {
    color: var(--text2, #bcbcc4);
    font-size: var(--font-size-s);
}
.perpsMarkLogo {
    display: flex;
    width: var(--logo-width-height);
    height: var(--logo-width-height);
    padding: var(--logo-padding);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background: #000;
}

.perpsMarkLogo img {
    max-width: 100%;
    max-height: 100%;
}

.detailsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: var(--apr-display-width) 1fr 1fr;
    gap: auto;
}
.detailsItem {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}
.detailsItem h4 {
    font-size: var(--font-size-xs);
    color: var(--text2, #bcbcc4);
}
.detailsItem h5 {
    font-size: var(--font-size-s);
    color: var(--text1, #f0f0f8);
}
.depositContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    padding: var(--padding-s);
    background: var(--bg-dark3);
    border-radius: var(--radius-s);
    background: var(--bg-dark3, #1c1c22);
}
.depositContainer h6 {
    font-size: var(--font-size-xs);
    color: var(--text2);
}
.depositContainer input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-l, 24px);
}
.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}
.buttonContainer button {
    width: 100%;
    display: flex;
    height: var(--button-height);
    padding: var(--button-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-m);
    outline: none;
    border: none;
    border-radius: 8px;
    transition: all var(--ease-in-out-med);
}

.buttonContainer button:hover {
    opacity: 0.8;
}
.depositButton {
    background: var(--accent1);
}
.withdrawButton {
    background: var(--bg-dark3);
}
/* Small screens (mobile) */
@media (max-width: 480px) {
    .vaultCard {
        flex-basis: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .vaultCard {
        flex-basis: calc(50% - 24px);
        min-width: var(--container-min-width);
    }
}
