.reduceToggleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-s);
}
.reduceToggleContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-m);
    font-size: var(--font-size-s, 12px);
    color: var(--text1);
    user-select: none;
}
.toggleLabel {
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s, 12px);
}
.chasingIntervalContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.inputDetailsDataContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-s, 12px);

    height: 16px;
}
.inputDetailsLabel {
    color: var(--text2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}
.inputDetailValue {
    color: var(--text1);
}

/* form container */

.formContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}
.formRow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-s);
}

.inputWithDropdown,
.inputWithoutDropdown {
    width: 100%;
    height: var(--input-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-dark4);
    height: var(--input-height);
    padding: var(--padding-xs) var(--padding-s);
    border-radius: var(--radius-s);
}
.formRow input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: var(--gap-s);
    background: var(--bg-dark4);

    font-size: var(--font-size-s);
    color: var(--text1);
    outline: none;
    border: none;
}
.formRow input::placeholder {
    color: var(--text2);
}

.inputWithDropdown button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    gap: var(--gap-s);
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text1);
}
.toggleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    justify-content: flex-start;
    align-items: flex-start;
}
.confirmButton {
    display: flex;
    padding: var(--button-padding);
    height: var(--button-height);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    outline: none;
    border: none;

    border-radius: var(--radius-s);
    background: var(--accent1, #7371fc);
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-m);
    transition: all 0.3s ease-in-out;
}
.disabled {
    /* disbaled is dark3  in figma but that's the same as the modal bg */
    background: var(--bg-dark2);
    color: var(--text2);
    pointer-events: none;
}
.textInfo {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    color: var(--text2);
    font-size: var(--font-size-s);
}

.expectedProfitText {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: var(--green);
    font-size: var(--font-size-s);
}
