.reduceToggleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
.reduceToggleContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: var(--font-size-s, 12px);
    color: var(--text1);
}
.toggleLabel {
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s, 12px);
}
.chasingIntervalContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputDetailsDataContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-s, 12px);

    height: 16px;
}
.inputDetailsLabel {
    color: var(--text2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.inputDetailValue {
    color: var(--text1);
}
