.container {
    background: radial-gradient(43.75% 50% at 0% 70%, #7371fc33, #7371fc00);
    max-height: 100vh;
}

.innerContainer header {
    color: #fff;
    font-size: var(--font-size-xl, 36px);
}

.innerContainer {
    --container-width: 800px;
    --container-gap: 24px;
    gap: var(--container-gap);
    max-width: var(--container-width);
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    padding-bottom: var(--padding-m);
    overflow-y: hidden;
}

.docContent {
    max-height: 80vh;
    overflow-y: auto;

    background: #0e0e14aa;
    padding: var(--padding-xl);
    display: flex;
    flex-direction: column;
    gap: var(--container-gap);
}
