.sizeInputContainer {
    width: 100%;
    padding: var(--padding-xs) var(--padding-s);
    align-items: center;
    align-self: stretch;
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark3, #1c1c22);
    font-size: var(--Font-Size-Font-S, 12px);
    height: 32px;

    color: var(--text2);

    display: grid;
    grid-template-columns: auto 1fr 50px;
    gap: var(--gap-xs);
}
.modalContainer {
    border: 1px solid var(--bg-dark4);
}
.sizeInputContainer input {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: right;
    color: var(--text1);
    cursor: pointer;
}
.tokenButton {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text1);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}
.tokenButton svg {
    fill: var(--text2);
}
.tokenButton:hover svg {
    fill: white;
}
