.sizeInputContainer {
    width: 100%;
    padding: 4px 8px;
    align-items: center;
    align-self: stretch;
    border-radius: var(--half-border-radius, 8px);
    background: var(--bg-dark3, #1c1c22);
    font-size: var(--Font-Size-Font-S, 12px);
    height: 32px;

    color: var(--text2);

    display: grid;
    grid-template-columns: auto 1fr 50px;
    gap: 4px;
}
.sizeInputContainer input {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: right;
    color: var(--text1);
    cursor: pointer;
}
.tokenButton {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text1);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.tokenButton svg {
    fill: var(--text2);
}
.tokenButton:hover svg {
    fill: white;
}
