.scaleOrdersContainer {
    --container-height: 391px;
    --total-order-height: 25px;
    --quantity-button-height: 25px;
    --dropdown-icon-height-wdith: 24px;
    --dropdown-width: 110px;
    --scale-order-height: 330px;
    --order-row-height: 25px;
    --button-height: 47px;

    width: 100%;
    min-height: var(--container-height);
    padding: var(--padding-s) var(--padding-m) var(--padding-m) 16px;
    border-radius: var(--radius-m, 16px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-m);
}
.scaleOrdersContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.totalOrdersSection {
    width: calc(100% - 8px);
    height: var(--total-order-height);
    display: grid;
    /* based on figma design of 223px on 391px */
    grid-template-columns: 57% 43%;
    gap: 8px;
}

.totalOrdersInput {
    width: 100%;
    display: flex;
    height: 100%;
    padding: 0px var(--padding-s);
    justify-content: space-between;
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark4, #27272c);
    color: var(--text1);
    font-size: var(--font-size-s, 12px);
    outline: none;
    border: none;
}

.quantityButtons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-s);
    height: 100%;
}

.quantityButton {
    display: flex;
    width: 100%;
    height: var(--quantity-button-height);
    padding: 1px var(--padding-s);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark4, #27272c);
    color: var(--base-text2, #bcbcc4);

    font-size: var(--font-size-s, 12px);
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all var(--ease-in-out-med);
}

.quantityButton.active,
.quantityButton:hover {
    border: 1px solid var(--text2);
    color: var(--text1);
}

.tableHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-s);
    align-items: center;
    padding: 0 var(--padding-s) 0 var(--padding-s);
}

.priceHeader,
.ratioHeader,
.quantityHeader {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    color: var(--text1, #f0f0f8) !important;
    font-size: var(--font-size-s, 12px) !important;
}

.dropdownToggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: var(--margin-s);
}

.flatIcon,
.increasingIcon,
.decreasingIcon,
.dropdownIcon {
    width: var(--dropdown-icon-height-wdith);
    height: var(--dropdown-icon-height-wdith);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdownIcon svg {
    fill: var(--text2);
}
.dropdownToggle:hover .dropdownIcon svg {
    fill: var(--text1);
}

.totalRatio {
    background-color: transparent;
    font-size: var(--font-size-s, 12px);
}

.totalRatio.invalid {
    color: #ff3b30;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: var(--dropdown-width);
    z-index: 10;
    display: flex;

    padding: var(--padding-xs) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-xs);
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark5, #323237);
}

.dropdownItem {
    width: 100%;
    display: flex;
    height: var(--quantity-button-height);
    padding: 0px var(--padding-s);
    align-items: center;
    gap: var(--gap-xs);
    flex-shrink: 0;
    /* border-radius: var(--radius-s, 8px); */
    color: var(--text2);
    font-size: var(--font-size-s, 12px);
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: var(--bg-dark3);
    color: var(--text1, #f0f0f8);
}

.quantityHeader {
    height: 100%;
    display: flex;
    justify-content: end;
    color: var(--text1, #f0f0f8);
}

.orderList {
    background-color: yellow;
    width: 100%;
    height: var(--scale-order-height);
    overflow-y: auto;
    /* scrollbar-gutter: stable; */
    scrollbar-width: thin;
    scrollbar-color: var(--accent1) transparent;

    margin-bottom: var(--margin-m);
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.orderList::-webkit-scrollbar {
    width: 6px;
}

.orderList::-webkit-scrollbar-track {
    background: transparent;
}

.orderList::-webkit-scrollbar-thumb {
    background-color: var(--accent1);
    border-radius: var(--radius-xs);
}

.orderRow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-s);
    height: var(--order-row-height);
}

.orderRow input {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-s);
    background: var(--bg-dark4, #27272c);
    display: flex;
    padding: 0px var(--padding-s);
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-s);
    color: var(--text1);
    outline: none;
    border: 1px solid transparent;
}
.orderRow input:focus {
    border: 1px solid var(--text2);
}

.ratioCell {
    padding: 0 var(--padding-s);
    background: var(--bg-dark4, #27272c);

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-s);
}
.ratioCell:focus {
    border: 1px solid transparent !important;
}
.ratioInput {
    padding: 0 !important;
    border: 1px solid transparent !important;
}
.priceInput,
.ratioCell,
.quantityInput {
    height: var(--order-row-height) !important;
}
.percentSign {
    font-size: var(--font-size-s);
    color: var(--text1);
}

.invalidInput {
    border-color: #ff3b30;
}

.errorMessage {
    color: var(--red);
    font-size: var(--font-size-s);
}
.optionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-s);
}

.actions button {
    height: var(--button-height);
    border: none;
    outline: none;
    display: flex;
    padding: 12px var(--padding-m);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: var(--radius-s);

    color: var(--text1, #f0f0f8);

    font-size: var(--font-size-m);
    transition: all var(--ease-in-out-med);
}

.actions button:hover {
    opacity: 0.7;
}
.cancelButton {
    background-color: var(--bg-dark4);
}

.confirmButton {
    background: var(--accent1, #7371fc);
}

.confirmButton:disabled {
    background-color: var(--bg-dark3);
    cursor: not-allowed;
    opacity: 0.7;
}
