.chasePriceContainer {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.chasePriceContainer h3 {
    color: var(--text2, #bcbcc4);
    font-size: var(--font-size-s, 12px);
}
