.liqChartTabContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.liqChartSectionContainer {
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    display: flex;
}

.liqChartControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--gap-xs);
    margin: var(--margin-xs) 0;
    padding: 0 var(--padding-xs);
    color: var(--text3);
    flex-shrink: 0;
}

.tabContent {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.startGap {
    display: flex;
    width: 100%;

    gap: var(--gap-xs);
    margin: var(--margin-xs) 0;
    padding: 0 var(--padding-xs);
    color: var(--text3);

    align-items: center;
    justify-content: center;
}
