.liqOptionsWrapper {
    position: fixed;
    z-index: 99;
    min-width: 20rem;
    padding: var(--padding-s);
    background-color: var(--bg-dark3);
    border-radius: 0 var(--radius-s) var(--radius-s) 0;
}
