.symbolListWrapper {
    --symbol-list-height: 256px;
    --symbol-list-width: 708px;
    --symbol-list-input-height: 31px;
    --table-header-height: 24px;
    --row-container-height: 17px;

    position: absolute;
    top: 130%;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: var(--symbol-list-width);
    background-color: var(--bg-dark3);
    padding: var(--padding-s);
    border-radius: var(--radius-m) !important;
    box-shadow: var(--dropdown-box-shadow);
    gap: var(--gap-s);
}

.symbolList {
    display: flex;
    flex-direction: column;
    height: var(--symbol-list-height);
    overflow-y: auto;
    border-radius: 0 !important;
    scrollbar-width: none;
    gap: var(--gap-xs) !important;
}

.symbolListSearch {
    width: 100%;
    height: var(--symbol-list-input-height);
    border: none;
    display: grid;
    grid-template-columns: 15px auto 15px;
    align-items: center;
    background: var(--bg-dark4);
    border-radius: var(--radius-s);
    padding: 0px var(--padding-xs);
    gap: var(--gap-xs);
}

.symbolListSearchIcon {
    color: var(--text2);
}

.symbolListSearch input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    color: var(--text1);
    display: flex;
    align-items: center;
    font-size: var(--font-size-s);
}

.symbolListItem {
    cursor: pointer;
    color: var(--text1);
}
.filterTabsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.filterTabsContainer button {
    padding: var(--padding-xs) var(--padding-s);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    background-color: transparent;
    outline: none;
    border: none;
    font-size: var(--font-size-s);
    color: var(--text2);
}

.filterNewButton {
    color: var(--accent1);
}

.symbolListItem:hover {
    background-color: var(--bg-dark5) !important;
    border-radius: 0 !important;
}

.headerContainer {
    height: var(--table-header-height);
    display: grid;
    grid-template-columns: 1.7fr 1fr 1.5fr 1fr 1fr 1fr;
    gap: var(--gap-s);
    align-items: center;
    position: sticky;
}

.rowContainer {
    display: grid;
    height: var(--row-container-height);
    grid-template-columns: 1.7fr 1fr 1.5fr 1fr 1fr 1fr;
    gap: var(--gap-s);
    align-items: center;
    padding: 0px var(--padding-s) 0px var(--padding-xs);
}

.rowContainer:hover {
    background-color: var(--bg-dark5) !important;
    border-radius: 0 !important;
    cursor: pointer;
}

.headerCell {
    color: var(--text2, #6a6a6d);
    font-size: var(--font-size-xs, 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    cursor: default;
    user-select: none;
}

.headerCell.active {
    color: var(--text1) !important;
}

.headerCell.sortable {
    cursor: pointer;
}

.symbolCell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}

.symbolListWrapper .leverageLabel {
    color: var(--text1);
    background: var(--accent1) !important;
    padding: 0 0.2rem !important;
    border-radius: 0.2rem !important;
}

.symbolListSearchClose {
    transition: all var(--ease-in-out-fast);
    color: var(--text2);
    cursor: pointer;
}
.fundingCell,
.volumeCell,
.openInterestCell {
    width: 100%;
    text-align: right;
    justify-content: flex-end;
}

.symbolListSearchClose:hover {
    color: var(--text1);
}

.favIcon {
    font-size: 0.9rem;
    cursor: pointer;
    transition: all var(--ease-in-out-fast);
}

.favIcon svg {
    color: var(--text2) !important;
}

.favIcon:not(.favIconActive):hover {
    color: var(--text1) !important;
}

.favIconActive:hover {
    opacity: 0.8;
}

.symbolListEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
    margin-top: var(--margin-l);
    margin-bottom: var(--margin-l);
    color: var(--text2);
}

.symbolListEmptyIcon {
    font-size: 2rem;
    color: var(--text2);
}
