.mainContainer {
    --dropdown-height: 32px;
    --data-content-height: 16px;
    --button-height: 25px;

    display: flex;
    width: 100%;
    height: 100%;
    padding: var(--padding-m) var(--padding-m) var(--padding-xs)
        var(--padding-s);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-s);
    flex-shrink: 0;

    border-radius: var(--radius-m);
    background: var(--bg-dark2, #111117);
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: var(--gap-s);
    overflow-y: scroll;
    /* subtract height of placeorderbuttons.tsx */
    height: calc(100% - 125px);
}
.mainContent::-webkit-scrollbar {
    display: none;
}

.orderTypeDropdownContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-s);
    height: var(--dropdown-height);
}

.inputDetailsDataContainer {
    width: 100%;
    display: flex;
    padding: var(--padding-s);
    flex-direction: column;
    align-items: flex-start;
    /* changed from 2px on figma to 4px */
    gap: var(--gap-xs);
    align-self: stretch;

    border-radius: var(--radius-s);
    border: 1px solid var(--bg-dark4, #27272c);
}
.inputDetailsDataContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-s);
    padding: var(--padding-s) 0;
    height: var(--data-content-height);
}
.inputDetailsLabel {
    color: var(--text2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}
.inputDetailValue {
    color: var(--text1);
}

.isolatedButton {
    display: flex;
    height: 100%;
    padding: 0px var(--padding-xs) 0px var(--padding-s);
    align-items: center;
    justify-content: space-between;
    background: var(--bg-dark3, #1c1c22);
    border-radius: var(--radius-s);
    border: none;
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s);
    cursor: pointer;
    flex-shrink: 0;
    gap: var(--gap-s);
}

.isolatedButton svg {
    color: var(--text2);
}

.isolatedButton:hover svg {
    color: var(--text1);
}

.trade_type_toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--dropdown-height);
    background-color: var(--bg-dark3, #1c1c22);
    color: var(--text1, #f0f0f8);
    border-radius: var(--radius-s);
    cursor: pointer;
    border: none;
}

.priceDistributionContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}
.priceDistributionContainer .inputDetailsLabel {
    color: var(--text2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    font-size: var(--font-size-s);
}
.priceDistributionContainer .actionButtonsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-s);
}
.priceDistributionContainer .actionButtonsContainer button {
    width: 100%;
    display: flex;
    height: var(--button-height);
    padding: 0px var(--padding-s);
    align-items: center;
    gap: var(--gap-s);
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark3, #1c1c22);
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    outline: none;
    border: none;
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s);
}

.launchpad {
    display: flex;
    flex-direction: column;
    width: 100%;
    user-select: none;
}

.launchpad > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-m);
}

.launchpad > header > div {
    width: 20px;
}

.launchpad > header > div > svg {
    cursor: pointer;
}

.launchpad_clickables {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    list-style-type: none;
    gap: var(--gap-s);
    cursor: pointer;
}

.launchpad_clickables > li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 8px;
    border-radius: var(--radius-s);
    background-color: var(--bg-dark3);
}

.name_and_icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-m);
}

.name_and_icon > h4 {
    font-size: var(--font-size-m);
    color: var(--text1);
}

.launchpad_clickables > li p {
    font-size: var(--font-size-s);
    color: var(--text2);
}

@media (min-width: 1600px) {
    .mainContainer {
        padding: var(--padding-m) var(--padding-m) var(--padding-xs)
            var(--padding-m);
    }
}
