.order_input {
    --dropdown-height: 32px;
    --data-content-height: 16px;
    --button-height: 25px;
    --trade-type-toggle-width-height: 32px;

    display: flex;
    width: 100%;
    height: 100%;
    padding: var(--padding-s);
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;

    border-radius: var(--radius-m);
    background-color: var(--bg-dark2, #111117);
    /* this prevents an overflow in the DOM during animation */
    overflow-x: hidden;
}

.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-s);
    overflow-y: scroll;
}

.mainContent::-webkit-scrollbar,
.order_input::-webkit-scrollbar {
    display: none;
}

.orderTypeDropdownContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 32px;
    justify-content: space-between;
    gap: var(--gap-s);
    height: var(--dropdown-height);
}

.inputDetailsDataContainer {
    width: 100%;
    display: flex;
    padding: var(--padding-s);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-xs);
    align-self: stretch;

    border-radius: var(--radius-s);
    border: 1px solid var(--bg-dark4, #27272c);
}
.inputDetailsDataContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-s);
    padding: var(--padding-s) 0;
    height: var(--data-content-height);
}
.inputDetailsLabel {
    color: var(--text2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}
.inputDetailValue {
    color: var(--text1);
}

.margin_type_btn {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-s);
    text-transform: capitalize;
}

.trade_type_toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--dropdown-height);
    background-color: var(--bg-dark3, #1c1c22);
    color: var(--text1, #f0f0f8);
    border-radius: var(--radius-s);
    cursor: pointer;
    border: none;

    width: var(--trade-type-toggle-width-height);
    height: var(--trade-type-toggle-width-height);
}

.priceDistributionContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}
.priceDistributionContainer .inputDetailsLabel {
    color: var(--text2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    font-size: var(--font-size-s);
}
.priceDistributionContainer .actionButtonsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-s);
}
.priceDistributionContainer .actionButtonsContainer button {
    width: 100%;
    display: flex;
    height: var(--button-height);
    padding: 0px var(--padding-s);
    align-items: center;
    gap: var(--gap-s);
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark3, #1c1c22);
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
    outline: none;
    border: none;
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s);
}

.launchpad {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    user-select: none;
}

.launchpad > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: var(--padding-s) 0px;
    font-size: var(--font-size-m); */
    height: 32px;
}

.launchpad > header > div {
    width: 24px;
}

.exit_launchpad {
    cursor: pointer;
}

.exit_launchpad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    --exit-launchpad-box-size: 24px;
    width: var(--exit-launchpad-box-size);
    height: var(--exit-launchpad-box-size);
    border-radius: var(--radius-xs);
}

.exit_launchpad:hover {
    background-color: var(--bg-dark3);
}

.launchpad_clickables {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    list-style-type: none;
    gap: var(--gap-s);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accent1) transparent;
    scrollbar-gutter: auto;
    padding-top: var(--padding-m);
}

.launchpad_clickables::-webkit-scrollbar {
    width: 4px;
}

.launchpad_clickables::-webkit-scrollbar-track {
    background-color: transparent;
}

.launchpad_clickables::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.launchpad_clickables > li {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 8px;
    gap: var(--gap-s);
    border-radius: var(--radius-s);
    background-color: var(--bg-dark3);
    cursor: pointer;
}

.launchpad_clickables > li:hover {
    background-color: var(--bg-dark4);
}

.name_and_icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-m);
}

.name_and_icon > h4 {
    font-size: var(--font-size-m);
    color: var(--text1);
}

.launchpad_clickables > li p {
    font-size: var(--font-size-s);
    color: var(--text2);
}

.button_details_container {
    margin-top: var(--margin-s);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    transition: all 0.3s ease-in-out;
    /* transform: translateX(-50); */
}

.submit_button {
    width: 100%;
    height: 47px;
    padding: var(--button-padding, 12px 16px);
    border: none;
    border-radius: var(--radius-s, 8px);
    font-size: var(--font-size-m, 18px);
    cursor: pointer;
    color: var(--text1, #f0f0f8);
    transition: background-color 0.3s ease;
    background: var(--accent1);
}
.submit_button:disabled {
    background: var(--bg-dark4, #27272c) !important;
    padding: 12px 8px;
    color: var(--text2, #bcbcc4);
    cursor: not-allowed;
}

.submit_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: var(--radius-s, 8px);
    transition: background 0.3s ease;
    pointer-events: none;
}

.submit_button:hover::before {
    background: rgba(0, 0, 0, 0.15);
}

.submit_button:disabled::before {
    display: none;
}

.submit_button:disabled:hover {
    background: var(--bg-dark4, #27272c) !important;
}

@media only screen and (max-height: 470px) {
    .inputDetailsDataContainer {
        display: none;
    }
}
