.container {
    --search-container-width: 404px;
    --search-container-height: 31px;

    --table-container-height: 66px;
    --search-icon-width: 30px;
    --filter-button-height: 25px;

    font-style: normal;
    line-height: normal;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}
.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.totalValueContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}
.totalValueContainer h3 {
    height: var(--button-height);
    align-self: stretch;
    color: var(--text1, #e1eeee);
    font-size: var(--font-size-xl, 36px);
}
.totalValueContainer p {
    color: var(--colors-text1, #e1eeee);
    font-size: var(--font-size-m, 18px);
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
}

.learnMore {
    color: var(--accent1, #7371fc);
}

.tableContainer {
    display: flex;
    padding: var(--padding-m);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-m);
    align-self: stretch;
    border-radius: var(--radius-m);
    background: var(--bg-dark2);
}

.searchContainer {
    border-radius: var(--radius-s);
    background: var(--bg-dark3, #16161c);
    display: flex;
    width: var(--search-container-width);
    height: var(--search-container-height);
    padding: 0px var(--padding-xs);

    align-items: center;
    gap: var(--gap-xs);
}
.searchContainer .icon {
    width: var(--search-container-width);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchContainer .icon svg {
    color: var(--text2);
}
.searchInput {
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    color: var(--core-text2, #6a6a6d);
    font-size: var(--font-size-s, 12px);
}
.tableContainer header {
    height: var(--table-container-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
}

.tableContainer header .rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-l);
}
.tableContainer header .rightSide .filterButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}

.filterButton {
    background: transparent;
    outline: transparent;
    border: none;
    display: flex;
    height: var(--filter-button-height);
    padding: 1px var(padding-s);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-s, 12px);
    border-radius: var(--radius-s);
}
.activeFilterButton {
    color: var(--text1) !important;
    background: var(--accent1) !important;
}
.inactiveFilterButton {
    color: var(--text2);
    background: var(--bg-dark3);
}

.vaultSectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}
.sectionTitle {
    color: var(--text1, #f0f0f8);

    font-size: var(--font-size-m);
}
.container {
    max-height: 100%;
}
.headerContainer {
    padding: var(--padding-m);
    flex-shrink: 0;
}

.tableContainer {
    flex-grow: 1;
}
@media only screen and (max-width: 968px) {
    .tableContainer header {
        flex-direction: column-reverse;
        gap: var(--gap-s);
    }
}

@media only screen and (max-width: 600px) {
    .headerContainer button {
        display: none;
    }

    .searchContainer {
        width: 100%;
    }

    .tableContainer header .rightSide {
        gap: 4px;
    }
}
