.rowContainer {
    width: 100%;
    height: var(--table-row-height);
    padding-left: var(--padding-s);
    gap: var(--gap-s);
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr 1fr 1fr 1fr 0.7fr 1fr;
    align-items: center;
}

.headerContainer {
    background: var(--bg-dark2);
    width: 100%;
    height: var(--table-header-height);
    padding-left: var(--padding-s);
    gap: var(--gap-s);
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr 1fr 1fr 1fr 0.7fr 1fr;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 10;
}

.cell {
    font-size: var(--font-size-s, 12px);
    color: var(--text1, #f0f0f8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerCell {
    color: var(--text2, #6a6a6d);
    font-size: var(--font-size-xs, 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    cursor: default;
}

.sortable {
    cursor: pointer;
}

/* Specific cell classes */
.timeCell {
}

.coinCell {
}

.directionCell {
}

.openLong {
}

.openShort {
}

.priceCell {
}
.sizeCell {
}
.tradeValueCell {
}
.feeCell {
}
.closedPnlCell {
}

.positive {
    color: var(--green, #4cd471);
}

.negative {
    color: var(--red, #ff5c5c);
}

@media (max-width: 1200px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.7fr 1fr 1fr 1fr 0.7fr 1fr;
    }

    .priceCell {
        display: none;
    }
}

@media (max-width: 1000px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.7fr 1fr 1fr 0.7fr 1fr;
    }

    .sizeCell {
        display: none;
    }
}

@media (max-width: 800px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.7fr 1fr 0.7fr 1fr;
    }

    .tradeValueCell {
        display: none;
    }
}

@media (max-width: 650px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.7fr 1fr 1fr;
    }

    .feeCell {
        display: none;
    }
}

@media (max-width: 500px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 1fr 0.7fr 1fr;
    }

    .closedPnlCell {
        display: none;
    }

    .headerCell {
        font-size: var(--font-size-xs);
    }

    .cell {
        font-size: var(--font-size-s);
    }
}
