.option_line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    font-size: var(--font-size-s);
    color: var(--text1);
}

.dropdown_container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: 2px;
    overflow-y: visible;
    cursor: pointer;
}

.active_option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 2px 8px;
    background-color: var(--dark4);
    border-radius: 8px;
}

.active_option * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.options_dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2px 8px;
    background-color: var(--dark6);
    border-radius: 8px;
    z-index: calc(var(--base-z-idx-app-options) + 1);
}

.options_dropdown * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}