.create_strategy_page {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.create_strategy_inputs {
    display: flex;
    flex-direction: column;
}

.create_strategy_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
