.create_strategy_page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xxl);

    /* this value is referenced by children to fix z-index issues */
    --create-strategy-page-z-index: 1;
    z-index: var(--create-strategy-page-z-index);
}

.create_strategy {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}

.create_strategy > header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-m);
}

.create_strategy > header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-s);
    cursor: pointer;
    height: 45px;
    aspect-ratio: 1/1;
}

.create_strategy > header > div:hover {
    background-color: var(--bg-dark4);
}

.create_strategy > header > h2 {
    font-size: var(--font-size-xl);
    /* font-weight is from Figma not centralized */
    font-weight: 300;
    color: var(--text1);
}

.create_strategy > div {
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    width: 900px;
    gap: var(--gap-m);
    border-radius: var(--radius-m);
    background-color: var(--bg-dark2);
}

.create_strategy_inputs {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.create_strategy_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-m);
    user-select: none;
}

.create_strategy_buttons button {
    padding: 12px 16px;
}

.buttons_right {
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
}
