.text_input {
    display: grid;
    --create-strategy-input-width: 200px;
    grid-template-columns: 200px var(--create-strategy-input-width) 1fr;
    align-items: center;
    gap: var(--gap-m);
    height: 32px;
    user-select: none;
}

.text_input > input,
.dropdown > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4px 8px;
    background-color: var(--bg-dark3);
    font-size: var(--font-size-s);
    border: none;
    outline: none;
    border-radius: var(--radius-s);
    color: var(--text1);
}

.dropdown > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    width: var(--create-strategy-input-width);
    gap: var(--padding-xs);
    padding: var(--padding-s);
    font-size: var(--font-size-s);
    color: var(--dark2);
    list-style: none;
    border-radius: var(--radius-s);
    background-color: var(--bg-dark4);
}

.dropdown > ul > li {
    cursor: pointer;
    color: var(--text2);
}

.text_input > p {
    font-size: var(--font-size-s);
    color: var(--text2);
    user-select: none;
    text-align: justify;
}