/* top-level JSX elem at the `/strategies/:address` route */
.strategy_detail_page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* elem wrapping actual content on the page */
.strategy_detail_page > div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    /* Figma used magic number of 1166px which I assume is arbitrary */
    width: 1200px;
}

/* header row, has information and buttons */
.strategy_detail_page > div > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* left side of <header> elem on this page */
/* contains strategy name, backnav clickable, and address */
.header_left {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

/* wrapper for strategy name and backnav button */
.back_and_title {
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
    /* Figma uses magic number */
    --back-and-title-height: 45px;
}

/* clickable for backnav action */
.back_and_title > div {
    /* needed to keep height in sync with parent */
    height: var(--back-and-title-height);
    /* this keeps the elem square */
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-m);
    cursor: pointer;
}

/* hover state for backnav clickable */
.back_and_title > div:hover {
    background-color: var(--bg-dark4);
}

/* title text for strategy name */
.back_and_title > h2 {
    font-weight: 300;
    font-size: var(--font-size-xl);
    color: var(--text1);
}

.address_clickable {
    margin-left: 61px;
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    color: var(--text2);
    background-color: var(--dark3);
}

/* text display of contract address for strategy */
.address_clickable > p {
    font-size: var(--font-size-s);
    font-family: var(--font-family-mono);
    vertical-align: bottom;
}

/* clickable elem to copy strategy address to clipboard */
.address_clickable > div {
    cursor: pointer;
}

/* bank of buttons to modify strategy */
.header_right {
    align-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}

/* readout of strategy status (running vs paused) */
.header_right > div {
    /* magic number is from Figma */
    /* large width prevents layout shift when text changes*/
    width: 160px;
    color: var(--text1);
}

/* styles to apply to each individual `<button>` elem */
.header_right > button {
    /* width not specified in Figma, @miyu requested equal-widths */
    width: 110px;
    border-radius: var(--radius-m);
    background-color: var(--bg-dark3);
}

/* hover state for `<button>` elems in header */
.header_right > button:hover {
    background-color: var(--accent1);
}

/* row on page with tables and chart for strategy information */
.strategy_details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'parameters performance chart';
    gap: var(--gap-m);
}

/* styles for individual strategy detail tables */
.strategy_details_table {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    padding: 8px 0;
    font-size: var(--font-size-s);
    background-color: var(--bg-dark2);
    border-radius: 16px;
}

/* these two parts create the grey-purple underline effect */
.strategy_details_table > header {
    border-bottom: 1px solid var(--bg-dark4);
    --strategy-details-table-header-bottom-padding: var(--padding-xs);
    padding-bottom: var(--strategy-details-table-header-bottom-padding);
    margin-bottom: -1px;
}
.strategy_details_table > header > span {
    padding: var(--strategy-details-table-header-bottom-padding) 16px;
    border-bottom: 1px solid var(--accent1);
    color: var(--accent1);
    margin-bottom: -1px;
}

/* table body of strategy details tables */
.strategy_details_table > section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    padding: 4px 16px;
}

/* individual row in a data table */
.strategy_details_table > section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* apply differential color to the label text in the row */
.strategy_details_table > section > div > div:first-child {
    color: var(--text2);
}

/* later on this element will be a chart */
.strategy_details_graph {
    background-color: grey;
}

/* top-level JSX for content in the strategy removal modal */
.remove_strategy_modal {
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    gap: var(--gap-l);
}

/* message text for the user in the strategy removal modal */
.remove_strategy_modal > p {
    text-align: center;
}

/* CTA buttons in the strategy removal modal */
.remove_strat_modal_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
}
