.strategy_detail_page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1200px;
    font-family: var(--font-family-main);
    outline: 1px solid green;
    user-select: none;
}

.strategy_detail_page > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.back_and_title {
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
    --back-and-title-height: 45px;
}

.back_and_title > div {
    height: var(--back-and-title-height);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-m);
    cursor: pointer;
}

.back_and_title > div:hover {
    background-color: var(--bg-dark4);
}

.back_and_title > h2 {
    font-weight: 300;
    font-size: var(--font-size-xl);
}

.address_clickable {
    margin-left: 61px;
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    color: var(--text2);
}

.address_clickable > p {
    font-size: var(--font-size-s);
    font-family: var(--font-family-mono);
    /* letter-spacing: 0.5px; */
    vertical-align: bottom;
}

.address_clickable > div {
    cursor: pointer;
}

.header_right {
    align-self: start;
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
}

.header_right > svg {
    align-self: center;
}

.header_right > button {
    width: 100px;
    border-radius: var(--radius-m);
    background-color: var(--bg-dark3);
}

.strategy_details {
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
}

.strategy_details > div {
    width: 448px;
}

.strategy_details_table {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    padding: 8px 0;
    font-size: var(--font-size-s);
    background-color: var(--bg-dark2);
    border-radius: 16px;
}

/* these two parts create the grey-purple underline effect */
.strategy_details_table > header {
    border-bottom: 1px solid var(--bg-dark4);
    margin-bottom: -1px;
}
.strategy_details_table > header > span {
    padding: 0 16px;
    border-bottom: 1px solid var(--accent1);
    margin-bottom: -1px;
}

.strategy_details_table > section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    padding: 0 8px;
}

.strategy_details_table > section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.strategy_details_table > section > div > div:first-child {
    color: var(--text2);
}

.strategy_details_graph {
    background-color: grey;
}

.remove_strategy_modal {
    display: flex;
    flex-direction: column;
    padding: var(--padding-m);
    gap: var(--gap-l);
}

.remove_strategy_modal > p {
    text-align: center;
}

.remove_strat_modal_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
}
