.reduceToggleContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.reduceToggleContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: var(--font-size-s, 12px);
    color: var(--text1)

}