.container {
    --container-width: 450px;
    --input-height: 33px;
    --sliderknob-width: 16px;
    --button-height: 47px;
    width: var(--container-width);
    padding: var(--padding-s) var(--padding-m) var(--padding-m) var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.description,
.estimatedPnlPositive,
.estimatedPnlNegative {
    color: var(--text2);
    font-size: var(--font-size-s);
    text-align: center;
}

.estimatedPnlPositive span {
    color: var(--green);
}

.estimatedPnlNegative span {
    color: var(--red);
}

.position_size_container {
    position: relative;
    padding: var(--padding-m) 0;
}

.warning_message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-s);
    color: var(--red);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 420px) {
    .container {
        max-width: 100%;
        width: 97%;
        margin: 0 auto;
        overflow: hidden;
    }
}
