@import './index.css';

/* 
  1) The container that wraps everything
  2) Ensures the entire page occupies the full viewport height
  3) Uses a column flex layout
*/
.root-container {
    display: grid;
    grid-template-rows: 56px 1fr;
    height: 100vh;
    color: white;
    /* overflow-y: hidden; */
}

/* 
  Allows the main content area to grow and fill remaining space 
  (pushing the footer to the bottom if there's not enough content)
*/
.content {
    height: 100%;
    overflow-y: auto;
    /* background: var(--dark3); */
    padding: 0px var(--main-padding, 8px) var(--main-padding, 8px)
        var(--main-padding, 8px);
}

/* Simple styling examples for header/footer */
.header {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 0px var(--main-padding);
}

.header a {
    color: var(--accent1);
}
