/* Lexend Deca */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url('/fonts/LexendDeca-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url('/fonts/LexendDeca-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('/fonts/LexendDeca-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/LexendDeca-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url('/fonts/LexendDeca-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url('/fonts/LexendDeca-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url('/fonts/LexendDeca-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 800;
    font-display: block;
    src: url('/fonts/LexendDeca-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url('/fonts/LexendDeca-Black.ttf') format('truetype');
}

/* Roboto Mono Normal */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url('/fonts/RobotoMono-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url('/fonts/RobotoMono-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('/fonts/RobotoMono-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url('/fonts/RobotoMono-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url('/fonts/RobotoMono-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url('/fonts/RobotoMono-Bold.ttf') format('truetype');
}

/* Roboto Mono Italic */
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 100;
    font-display: block;
    src: url('/fonts/RobotoMono-ThinItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 200;
    font-display: block;
    src: url('/fonts/RobotoMono-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 300;
    font-display: block;
    src: url('/fonts/RobotoMono-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/RobotoMono-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 500;
    font-display: block;
    src: url('/fonts/RobotoMono-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 600;
    font-display: block;
    src: url('/fonts/RobotoMono-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Mono';
    font-style: italic;
    font-weight: 700;
    font-display: block;
    src: url('/fonts/RobotoMono-BoldItalic.ttf') format('truetype');
}
