.container {
    width: 100%;

    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 auto;
    margin-top: 48px;
}


.container header {
    color: #fff;

    font-family: var(--font-family-main, 'Lexend Deca');
    font-size: var(--font-size-xl, 36px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.content {
    width: 100%;
    border-radius: var(--main-border-radius, 16px);
    background: var(--dark2, #111117);
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.searchRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 74px;
}

.searchContainer {
    border-radius: var(--half-border-radius, 8px);
    background: var(--dark3, #1c1c22);
    display: flex;
    width: 400px;
    height: 31px;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    color: var(--text2, #bcbcc4);

    font-size: var(--font-size-s, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.searchContainer svg:hover{
    fill: var(--text1)
}


.searchInput {
    background: transparent;
    border: none;
    outline: none;
    color: var(--text1, #f0f0f8);
    width: 100%;
}


.searchInput::placeholder {
    color: var(--text2, #6a6a6d);
}



.periodSelector {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--dark2, #1a1b23);
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.periodSelector svg {
    fill: var(--text2) ;
}

.periodSelector:hover svg {
    fill: var(--text1);
   
}

.periodText {
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s, 12px);
}


.dropdownMenu {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    background-color: var(--dark3);
    border-radius: var(--half-border-radius);
    padding:8px;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: right;
}

.dropdownItem {

    width: 100%;
    padding: 8px;
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s, 12px);
    cursor: pointer;
    
}

.dropdownItem:hover {
    background-color: rgba(255, 255, 255, 0.05);
}



.paginationContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    font-size: var(--font-size-s, 12px);
    color: var(--text1, #f0f0f8);
    gap: 12px;
}

.rowsPerPage {
    display: flex;
    align-items: center;
    gap: 12px;
   
}

.rowSelector {
    background-color: var(--dark2, #1a1b23);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.pageInfo {
    color: var(--text1, #f0f0f8);
}

.pageButtons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pageButton {
    background-color: transparent;
    border: none;
    color: var(--text2, #6a6a6d);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.pageButton:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--text1, #f0f0f8);
}

.pageButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.footer {
    color: var(--text2, #BCBCC4);
    text-align: center;
    
 
    font-family: var(--font-family-main, "Lexend Deca");
    font-size: var(--font-size-s, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}
.periodSelectorContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.fullScreen{
    margin-top: 0 !important;
    gap: 8px !important
}

.fullScreen .searchRow{
    height: auto;
}
.expandIcon{
    fill: var(--text2)
}
.expandIcon:hover {
    fill: var(--text1)
}

@media (min-width: 1280px) {
    .container {
        width: 1165px;
    }
}
@media (min-width: 1580px) {
.container{
    margin-top: 96px;
}

}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
        margin-top: 48px;
    }

    .searchRow {
        flex-direction: column;
        align-items: flex-start;
    }

    .searchContainer {
        width: 100%;
        max-width: none;
    }

    .periodSelector {
        align-self: flex-end;
    }
}
@media (max-width: 500px) {
.container{
    margin-top: 0;
}
}
