.collateralChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    gap: 16px;

    background-color: var(--dark2);
}

.dataContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
}

.legendContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 8px;
}

.legendItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
}

.legendLabel {
    display: flex;
    align-items: center;

    gap: 8px;
}

.legendColor {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.dataLabel {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .dataContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--gap-m);
    }

    .legendContainer {
        width: auto;
        align-items: center;
    }

    .legendItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .legendLabel {
        justify-content: center;
    }
}
