.toggleContainer {
    display: flex;
    align-items: center;
    gap: var(--gap-s);
}

.toggleSwitch {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #16161c;
    border: 1px solid #424246;
    border-radius: 3.5px;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark {
    color: var(--accent1);
    font-size: var(--font-size-s);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.toggleLabel {
    font-size: var(--font-size-s, 12px);

    color: var(--text1, #f0f0f8);
    cursor: pointer;
    user-select: none;
}
/* dd */
.reverse {
    flex-direction: row-reverse;
}
