.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 30px;
    right: 0;
    width: 241px;
    height: auto;
    padding: var(--padding-s);
    border-radius: var(--radius-m, 16px);
    background: var(--bg-dark2, #0e0e14);
    box-shadow: var(--dropdown-box-shadow);

    transition:
        opacity var(--ease-in-out-med),
        visibility var(--ease-in-out-med);

    /* ---------------------------- */

    opacity: 1;
    height: auto;
    visibility: visible;
    pointer-events: auto;
    z-index: var(--z-index-navbar-dropdown);
}
.networkContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 23px;
    padding: var(--padding-s);
}

.leftSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.testnet {
    color: var(--core-accent1, #7371fc);
    font-size: var(--font-size-xs, 10px);
}
