.outer {
    width: 100%;
    height: 100%;
    /* background: radial-gradient(
        43.75% 50% at 0% 70%,
        rgba(115, 113, 252, 0.2) 0%,
        rgba(115, 113, 252, 0) 100%
    ); */
}
.container {
    --container-width: 1280px;
    --container-gap: 48px;
    --table-height: 155px;
    --fee-modal-width: 500px;

    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--container-gap);
    max-width: var(--container-width);
    margin: 0 auto;

    padding-bottom: var(--padding-m);
    overflow-y: hidden;
}

.container header {
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-xl, 36px);
}
.column {
    height: 100%;
    display: grid;
    grid-template-rows: 141px 1fr;
    gap: var(--container-gap);
}
.detailsContainer {
    height: 100%;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-xs);
}
.detailsContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}
.detailsContent h6 {
    color: var(--base-text1, #f0f0f8);

    font-size: var(--font-size-m, 18px);
}
.detailsContent h3 {
    color: var(--base-text1, #f0f0f8);

    font-size: var(--font-size-xl, 36px);
}

.view_detail_clickable {
    font-size: var(--font-size-m);
    cursor: pointer;
    color: var(--accent1);
}
.view_detail_clickable:hover {
    transition: all 0.3s ease-in-out;
    filter: brightness(0.8);
}

.totalNetDisplay {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    font-size: var(--font-size-m, 18px);
    text-align: center;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}
.totalNetDisplay h6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.totalNetDisplay h6 span {
    color: var(--text2);
}
.rowButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-s);
}

.table {
    /* height: var(--table-height); */
    height: auto;
    overflow-y: hidden;
}

.table > div {
    /* height: var(--table-height); */
    height: 100%;
}
.mainContent {
    height: 100%;

    display: grid;
    grid-template-rows: auto var(--table-height);
    gap: var(--gap-s);
}
.sendMobile,
.netValueMobile {
    display: none !important;
}

.fee_schedule_modal {
    display: flex;
    flex-direction: column;
    min-width: var(--fee-modal-width);
    padding: var(--padding-s) var(--padding-m) var(--padding-m);
    border-radius: var(--radius-m);
    color: var(--text1);
    gap: var(--gap-m);
    background-color: var(--bg-dark3);
    user-select: none;
    -webkit-user-select: none;
}

.fee_schedule_modal > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fee_schedule_modal > header > h3 {
    font-size: var(--font-size-l);
}

.fee_table {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);

    /* this keeps consistent spacing in table header and data rows */
    --fee_table_col_spacing: 2fr 6fr 3fr 3fr;
    --fee_table_col_gap: var(--gap-s);
    --fee_table_row_padding: 0 var(--padding-s);
}

.fee_table > h4 {
    font-size: var(--font-size-m);
}

.fee_table > header {
    display: grid;
    grid-template-columns: var(--fee_table_col_spacing);
    padding: var(--fee_table_row_padding);
    gap: var(--fee_table_col_gap);
    justify-items: start;
    font-size: var(--font-size-xs);
}

.fee_table > ol {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: var(--gap-xs);
}

.fee_table > ol > li {
    display: grid;
    grid-template-columns: var(--fee_table_col_spacing);
    padding: var(--fee_table_row_padding);
    gap: var(--fee_table_col_gap);
    justify-items: start;
    border-radius: var(--radius-s);
    font-size: var(--font-size-s);
    transition: background-color 0.3s ease-out;
}

.fee_table > ol > li:hover {
    background-color: var(--bg-dark5);
    transition: background-color 0.1s ease-in;
}

.neg_fees {
    font-size: var(--font-size-xs);
}

.mobileTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
    position: relative;
}
.mobileActionMenuContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    position: absolute;
    top: 60px;
    right: 0;
    padding: var(--padding-m) var(--padding-s);
    border-radius: var(--radius-m);
    background: var(--bg-dark2, #16161c);
    box-shadow: var(--dropdown-box-shadow);

    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
        opacity var(--ease-in-out-med),
        visibility var(--ease-in-out-med);

    /* ---------------------------- */

    opacity: 1;
    height: auto;
    visibility: visible;
    pointer-events: auto;
    z-index: var(--z-index-navbar-dropdown);
}

.mobileTop .detailsContent {
    justify-content: flex-start;
}
.mobileTop .detailsContent h3 {
    font-size: var(--font-size-m);
}
.mobileTop .actionMenuButton {
    display: flex;
}
@media (max-width: 768px) {
    .container {
        overflow-y: auto;
        gap: var(--gap-s);
    }
    .detailsContainer {
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
    }
    .detailsContent {
        padding: var(--padding-s) 0;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: var(--gap-s);
    }

    .sendDesktop,
    .totalNetDisplay h6 {
        display: none !important;
        height: 0px !important;
    }
    .sendMobile,
    .netValueMobile {
        display: flex !important;
    }
    .detailsContent h6 {
        font-size: var(--font-size-s);
    }
    .detailsContent h3 {
        font-size: var(--font-size-l);
    }
    .view_detail_clickable {
        font-size: var(--font-size-s);
    }

    .detailsContainer {
        display: none;
    }
    .mobileTop {
        display: flex;
    }
    .mobileActionMenuContainer {
        display: flex;
        flex-direction: column;
    }
    .mobileActionMenuContainer button {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
