.dropdownMenu,
.dropupMenu {
    position: absolute;
    top: calc(100% + 0.5rem);
    right: 0;
    background-color: var(--bg-dark3);
    border-radius: var(--radius-s);
    padding: var(--padding-s);
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: right;
}

.dropdownItem {
    width: 100%;
    padding: var(--padding-s);
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s, 12px);
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.paginationContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: var(--font-size-s, 12px);
    color: var(--text1, #f0f0f8);
    gap: 12px;
    user-select: none;
}

.rowsPerPage {
    display: flex;
    align-items: center;
    gap: 12px;
}

.rowSelector {
    background-color: var(--bg-dark2, #1a1b23);
    padding: var(--padding-s);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.pageInfo {
    color: var(--text1, #f0f0f8);
}

.pageButtons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pageButton {
    background-color: transparent;
    border: none;
    color: var(--text2, #6a6a6d);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs);
    border-radius: 0.25rem;
}

.pageButton:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--text1, #f0f0f8);
}

.pageButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.footer {
    color: var(--text2, #bcbcc4);
    text-align: center;
    font-size: var(--font-size-s, 12px);
    align-self: stretch;
}
.periodSelectorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.fullScreen {
    margin-top: 0 !important;
    gap: 8px !important;
}

.fullScreen .searchRow {
    height: auto;
}
.expandIcon {
    fill: var(--text2);
}
.expandIcon:hover {
    fill: var(--text1);
}
.chvrDown {
    display: none;
}
.chvrUp {
    display: none;
}

@media (min-width: 1280px) {
    .container {
        width: 1165px;
    }
}
@media (min-width: 1580px) {
    .container {
        margin-top: 96px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: var(--padding-m);
        margin-top: 48px;
    }

    .periodSelector {
        align-self: flex-end;
    }
}
@media (max-width: 500px) {
    .container {
        margin-top: 0;
    }
}

/* For screens smaller than 1500px, make dropdown appear above */

.dropupMenu {
    top: auto;
    bottom: calc(100% + 0.5rem);
}
.chvrUp {
    display: flex;
}
÷ .dropdownItem {
    width: 100%;
    padding: var(--padding-s);
    color: var(--text1, #f0f0f8);
    font-size: var(--font-size-s, 12px);
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
