.create_sub_account_modal {
    display: flex;
    flex-direction: column;
    padding: 8px 16px 16px 16px;
    gap: 24px;
    color: var(--text1);
    background-color: var(--dark3);
    border-radius: var(--main-border-radius);
    user-select: none;
    -webkit-user-select: none;
}

.create_sub_account_modal > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family-main);
    font-size: var(--font-size-l);
    font-weight: 400;
}

.text_entry > input {
    width: 100%;
    padding: 4px 8px;
    background-color: var(--dark4);
    border: none;
    border-radius: var(--half-border-radius);
    outline: none;
    color: var(--text1);
    caret-color: var(--text1);
}

.modal_buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.modal_buttons > button {
    width: 200px;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: var(--half-border-radius);
    font-size: var(--font-size-m);
    font-weight: 400;
    color: var(--text1);
}

.modal_buttons > button:first-child {
    background-color: var(--dark4);
}

.modal_buttons > button:last-child {
    background-color: var(--accent1);
}