.create_sub_account_modal {
    display: flex;
    flex-direction: column;
    padding: var(--padding-s) var(--padding-m) var(--padding-m) 16px;
    gap: 24px;
    color: var(--text1);
    background-color: var(--bg-dark3);
    border-radius: var(--radius-m);
    user-select: none;
    -webkit-user-select: none;
}

.text_entry > input {
    width: 100%;
    padding: var(--padding-xs) var(--padding-s);
    background-color: var(--bg-dark4);
    border: none;
    border-radius: var(--radius-s);
    outline: none;
    color: var(--text1);
    caret-color: var(--text1);
}

.modal_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
}

.modal_buttons > button {
    width: 200px;
    gap: var(--gap-s);
    padding-top: var(--padding-m);
    padding-bottom: var(--padding-m);
    border: none;
    border-radius: var(--radius-s);
    font-size: var(--font-size-m);
    color: var(--text1);
}

.modal_buttons > button:first-child {
    background-color: var(--bg-dark4);
}

.modal_buttons > button:last-child {
    background-color: var(--accent1);
}
