.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}
.label {
    color: var(--text2, #bcbcc4);
    font-size: var(--font-size-s, 12px);
}

.inputsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 32px 1fr;
    gap: var(--gap-s);
    align-items: center;
}
.inputsContainer input,
.totalOrdersInput {
    width: 100%;
    display: flex;
    height: 32px;
    padding: 0 var(--padding-s);
    justify-content: space-between;
    align-items: center;

    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark3, #1c1c22);
    font-size: var(--font-size-s, 12px);
    color: var(--text1);

    outline: none;
    border: none;
}

.seperator {
    display: flex;
    justify-content: center;
    align-items: center;
}
