/* top-level element returned by JSX file */
.option_line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* magic number is specified by the Figma */
    /* needs to be specified and cannot be determined programmatically */
    /* not in a CSS variable bc it is only consumed here */
    height: 32px;
    font-size: var(--font-size-s);
    color: var(--text1);
}

/* container for the active selection and the dropdown below it */
.dropdown_container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* magic number is specified by the Figma */
    /* needs to be specified and cannot be determined programmatically */
    /* not in a CSS variable bc it is only consumed here */
    width: 170px;
    height: 100%;
    gap: var(--gap-xs);
    overflow-y: visible;
}

/* elem showing the active selection, opens or closes dropdown on click */
.active_option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    padding: 0 var(--padding-s);
    background-color: var(--bg-dark4);
    border-radius: var(--radius-s);
    cursor: pointer;
}

/* menu that appears when the active option is clicked */
.options_dropdown {
    display: flex;
    flex-direction: column;
    padding: var(--padding-xs);
    background-color: var(--bg-dark6);
    border-radius: var(--radius-s);
    z-index: calc(var(--base-z-idx-app-options) + 1);
}

/* individual items in the dropdown menu */
.options_dropdown > * {
    padding: 0 var(--padding-s);
    border-radius: var(--radius-xs);
}

/* general styling to apply if options are JSX rather than text  */
.active_option *,
.options_dropdown * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* hover effects for clickable elems in the dropdown */
.options_dropdown > *:hover {
    cursor: pointer;
    background-color: var(--bg-dark4);
}
