.option_line {
    --checkbox-width: 18px;
    --checkbox-height: 18px;

    background: transparent;
    border: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-s);
    width: fit-content;
    color: var(--text1);
    cursor: pointer;
    font-size: var(--font-size-s);
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    border: 1px solid var(--text2);
    border-radius: var(--radius-xs);
}
