/* top-level element returned by JSX file */
.option_line {
    --option-line-height: 32px;
    --active-option-width: 170px;
    --active-option-height: 32px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: var(--option-line-height);
    font-size: var(--font-size-s);
    color: var(--text1);
}

/* container for the active selection and the dropdown below it */
.dropdown_container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: var(--gap-s);
    overflow-y: visible;
}

/* elem showing the active selection, opens or closes dropdown on click */
.active_option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: var(--active-option-width);
    height: var(--active-option-height);
    padding: 0 var(--padding-xs) 0 var(--padding-s);
    background-color: var(--bg-dark4);
    border-radius: var(--radius-s);
    cursor: pointer;
}

.options_dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--padding-xs) var(--padding-xs);
    background-color: var(--bg-dark6);
    border-radius: var(--radius-s);
    z-index: calc(var(--base-z-idx-app-options) + 1);
}

.options_dropdown > * {
    padding: 0 var(--padding-s);
    border-radius: var(--radius-xs);
}

/* general styling to apply if options are JSX rather than text  */
.active_option *,
.options_dropdown * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* hover effects for clickable elems in the dropdown */
.options_dropdown > *:hover {
    cursor: pointer;
    background-color: var(--bg-dark4);
}
