.watchListNodeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-s);
}

.watchListNodeContent {
    flex-direction: row;
    display: flex;
    gap: var(--gap-s);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all var(--ease-in-out-fast);
}

.watchListNodeContent.active {
    cursor: default;
}

.watchListNodeContent:not(.active):hover {
    background-color: var(--bg-dark4) !important;
}

.watchListNodeContainer div {
    background-color: transparent !important;
}

.watchListNodeContainer div {
    height: auto !important;
}
