.priceInputContainer {
    width: 100%;

    padding: var(--padding-xs) var(--padding-s);
    align-items: center;
    align-self: stretch;
    border-radius: var(--radius-s, 8px);
    background: var(--bg-dark3, #1c1c22);
    font-size: var(--Font-Size-Font-S, 12px);
    height: 32px;

    grid-template-columns: auto 1fr;
    display: grid;
    gap: var(--gap-xs);
    color: var(--text2);
}
.modalContainer {
    border: 1px solid var(--bg-dark4);
}

.chaseLimit {
    grid-template-columns: auto 1fr 50px;
}
.noMidLimit {
    grid-template-columns: auto 1fr 15px;
}
.priceInputContainer input {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: right;
    color: var(--text1);
    cursor: text;
}
.midButton {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--accent1, #7371fc);
    border-radius: var(--radius-s);
    padding: var(--padding-xs) var(--padding-s);
    margin: 0 var(--margin-xs);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
}

.midButton:focus-visible {
    outline: 2px solid var(--accent1, #7371fc);
    outline-offset: 2px;
}

.midButtonActive {
    background-color: rgba(115, 113, 252, 0.15);
    color: var(--accent1, #7371fc);
}
