.place_order_buttons {
    --container-height: 125px;
    --input-detail-item-height: 16px;
    --button-font-size: 16px;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    height: var(--container-height);
}

.buttons_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-s);
}

.buttons_wrapper > button {
    height: var(--button-height);
    display: flex;
    padding: var(--button-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: var(--radius-s);
    color: var(--text1, #f0f0f8);
    font-size: var(--button-font-size);
    outline: none;
    border: none;
}

.input_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* change from 2px to 4px */
    gap: var(--gap-xs);
    padding: var(--padding-s) 0px;
    align-self: stretch;
    border-radius: var(--radius-s);
    border: 1px solid var(--bg-dark4, #27272c);
}

.input_details > * {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-s);
    padding: 0 var(--padding-s);
    height: var(--input-detail-item-height);
}

.detail_label {
    color: var(--text2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
}

.detail_value {
    color: var(--text1);
}
