.consoleWrapper {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 50vw;
    z-index: 99;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: #fff;
}

.logs {
    max-height: 10vh;
    width: 100%;
    overflow-y: auto;
}
