.table_wrapper {
    width: 800px;
    border-radius: var(--main-border-radius, 16px);
    background: var(--dark2, #0e0e14);
    display: flex;
    flex-direction: column;
}

.table_content {
    padding: 8px 9px 0px 9px;
    height: 100%;
}

.table_controls {
    display: flex;
    align-items: center;
    gap: 16px;
}
