.orderBookSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    font-size: var(--font-size-s);
    scrollbar-width: none;
}

.orderBookSectionContainer {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
}

.orderBookSectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--text2);
    padding: var(--padding-xs) var(--padding-s);
}

.stackedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sectionHeaderTitle {
    width: 100%;
}

.largeContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.childOfLargeContainer {
    flex: 1 1;
    height: 100%;
}

.menuContent {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    /* padding-bottom: var(--padding-s); */
}

.orderBookTabSectionContainer {
    display: flex;
    flex-direction: column;
}

.tabContent {
    flex: 1;
}
