.share_modal {
    --button-height: 23px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    /* padding: 0 192px; */
    gap: 24px;
    padding: 0 50px 50px 50px;

    background-color: var(--bg-dark3);
}

.picture_overlay {
    display: grid;
    grid-template-rows: 3fr 5fr 1fr 1fr;
    width: 900px;
    height: 500px;
    padding: var(--padding-l);
}

.market {
    display: flex;
    flex-direction: column;
}

.market_tkn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-s);
}

.symbol_icon {
    width: 30px;
    height: 30px;
    border-radius: var(--radius-m);
}

.symbol {
    font-size: var(--font-size-l);
}

.yield {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--padding-xs);
    border-radius: var(--radius-s);
}

.market_pct {
    font-size: var(--font-size-xxl);
}

.prices {
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price > div:first-child {
    font-size: var(--text-size-m);
    color: var(--text2);
}

.price > div:last-child {
    font-size: var(--text-size-m);
    color: var(--text1);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 240px;
}

.referral_code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text2);
    font-size: var(--font-size-m);
}

.referral_code > div:last-child {
    color: var(--accent3);
}

.custom_text {
    display: flex;
    flex-direction: column;
}

.custom_text > label {
    color: var(--text1);
}

.custom_text > textarea {
    height: 160px;
    width: 240px;
    padding: var(--padding-s);
    color: var(--white);
    background-color: var(--bg-dark4);
    border: none;
    resize: none;
    overflow: hidden;
    color: var(--white);
    font-size: var(--font-size-s) !important;
}

.button_bank {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.button_bank > button {
    width: 100%;
    height: var(--button-height);
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-s);
    flex-shrink: 0;
    border-radius: var(--radius-s, 8px);
    background: var(--accent1,);
    color: var(--text1);
    font-size: var(--font-size-m, 18px);
    padding: 1px var(--padding-s);
}
.button_bank > button:hover {
    background-color: color-mix(in srgb, var(--accent1) 90%, black);
}
