.symbolSearchBackdrop {
    --search-container-height: 40px;
    --search-container-width: 160px;

    --symbol-width-height: 30px;
    position: relative;
}

.symbolSearchContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: var(--gap-s);

    font-size: var(--font-size-l);
    user-select: none;
    min-width: var(--search-container-width);
    /* height: var(--search-container-height); */
    /* cursor: pointer; */
    padding: var(--padding-s);
    border-radius: var(--radius-s);
    height: 35px !important;
    align-self: center;
}

.symbolSearchContainer:hover {
    background-color: var(--bg-dark3);
    transition: all 0.3s ease-in-out;
}
.symbolIcon {
    width: var(--symbol-width-height);
    height: var(--symbol-width-height);
    aspect-ratio: 1;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.symbolName {
    white-space: nowrap;
    display: flex;
}

.comboBoxIcon {
    transition: var(--ease-in-out-fast);
    transform: rotate(0deg);
    font-size: var(--font-size-s);
    opacity: 0.3;
}

.comboBoxIconOpen {
    transform: rotate(180deg);
}

.symbolIcon img {
    max-height: 100%;
}

@media (max-width: 480px) {
    .symbolSearchContainer {
        width: 100px;
        min-width: 0;
        display: flex;
    }
    .symbolName {
        font-size: var(--font-size-s);
        flex-direction: column;
    }
}
