.symbolSearchBackdrop {
    position: relative;
}

.symbolSearchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-s);
    font-size: 1.2rem;
    user-select: none;
    min-width: 10rem;
    cursor: pointer;
}

.symbolIcon {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: var(--radius-m);
}

.symbolName {
    white-space: nowrap;
}

.comboBoxIcon {
    transition: var(--ease-in-out-fast);
    transform: rotate(0deg);
    font-size: 0.7rem;
    opacity: 0.3;
}

.comboBoxIconOpen {
    transform: rotate(180deg);
}
