.noDataWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-s);
    margin-top: var(--margin-l);
    margin-bottom: var(--margin-l);
    color: var(--text2);
}

.noDataIcon {
    font-size: 2rem;
    color: var(--text2);
}

.noDataText {
    font-size: 0.8rem;
    color: var(--text2);
}
