.news {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-height: 70vh;
    padding: 0px var(--padding-m) var(--padding-m);
    gap: var(--gap-m);
    list-style-type: none;
    overflow-y: auto;
}

.news > li {
    font-size: var(--font-size-s);
    color: var(--text2);
    text-align: center;
}
