.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    margin: 0 auto;
    margin-top: 48px;
    overflow-x: hidden;
}

.container header {
    color: #fff;
    font-size: var(--font-size-xl, 36px);
}

.content {
    width: 100%;
    border-radius: var(--radius-m, 16px);
    background: var(--bg-dark2, #111117);
    display: flex;
    padding: var(--padding-s) var(--padding-m);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-s);
}

.pageInfo {
    color: var(--text1, #f0f0f8);
}

.fullScreen {
    margin-top: 0 !important;
    gap: var(--gap-s) !important;
}

.fullScreen .searchRow {
    height: auto;
}
.expandIcon {
    fill: var(--text2);
}
.expandIcon:hover {
    fill: var(--text1);
}
.chvrDown {
    display: none;
}
.chvrUp {
    display: none;
}

@media (min-width: 1280px) {
    .container {
        width: 1165px;
    }
}
@media (min-width: 1580px) {
    .container {
        margin-top: 96px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: var(--padding-m);
        margin-top: 48px;
    }

    .searchRow {
        flex-direction: column;
        align-items: flex-start;
    }

    .searchContainer {
        width: 100%;
        max-width: none;
    }

    .periodSelector {
        align-self: flex-end;
    }
}
@media (max-width: 500px) {
    .container {
        margin-top: 0;
    }
}
