.rowContainer {
    width: 100%;
    height: var(--table-row-height);
    padding-left: var(--padding-s);
    gap: var(--gap-s);
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr;
    align-items: center;
}

.headerContainer {
    background: var(--bg-dark2);
    width: 100%;
    height: var(--table-header-height);
    padding-left: var(--padding-s);
    gap: var(--gap-s);
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 10;
}

.tableWrapper {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    border-radius: var(--radius-s);
    padding-bottom: var(--padding-s);

    display: flex;
    flex-direction: column;

    display: flex;
}

.tableBody {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: var(--padding-l);
    position: relative;
}
.tableBody::-webkit-scrollbar {
    display: none;
}

.cell {
    font-size: var(--font-size-s, 12px);
    color: var(--text1, #f0f0f8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerCell {
    color: var(--text2, #6a6a6d);
    font-size: var(--font-size-xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);
    cursor: default;
}

.sortable {
    cursor: pointer;
}

.pnlPositive {
    color: var(--green, #4cd471);
}

.badge {
    background: var(--accent1);
    border-radius: var(--radius-xs);
    padding: 2px var(--padding-xs);
    display: inline-block;
    font-size: var(--font-size-s);
    margin-left: var(--gap-xs);
}

.actionButton {
    background-color: transparent;
    color: var(--accent1, #7371fc);
    border: none;
    font-size: var(--font-size-s, 12px);
    cursor: pointer;
    transition: color 0.2s ease;
    white-space: nowrap;
    margin-right: 8px;
}

.actionButton:hover {
    color: var(--text1, #f0f0f8);
}

.actionContainer {
    display: flex;
}

/* Specific cell classes */
.coinCell {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
}

.sizeCell {
}
.positionValueCell {
}
.entryPriceCell {
}
.markPriceCell {
}

.pnlCell {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    align-items: center;
    cursor: pointer;
}

.liqPriceCell {
}
.marginCell {
}
.fundingCell {
}
.tpslCell {
}
.closeCell {
    text-align: right;
    justify-self: end;
}

.headerContainer .closeCell {
    text-align: end;
    justify-self: end;
    padding-right: var(--padding-s);
}

@media (max-width: 1400px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 0.8fr 1.2fr;
    }

    .fundingCell {
        display: none;
    }
}

@media (max-width: 1200px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 0.8fr 1.2fr;
    }

    .markPriceCell {
        display: none;
    }
}

@media (max-width: 1000px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 0.8fr 0.8fr 0.8fr 1fr 0.8fr 0.8fr 0.8fr 1.2fr;
    }

    .entryPriceCell {
        display: none;
    }
}

@media (max-width: 800px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 0.8fr 0.8fr 1fr 0.8fr 0.8fr 1.2fr;
    }

    .sizeCell,
    .marginCell {
        display: none;
    }
}

@media (max-width: 650px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 0.8fr 1fr 0.8fr 1.2fr;
    }

    .tpslCell,
    .liqPriceCell {
        display: none;
    }
}

@media (max-width: 480px) {
    .rowContainer,
    .headerContainer {
        grid-template-columns: 0.8fr 1fr 1.2fr;
        padding: 0 var(--padding-xs);
    }

    .positionValueCell {
        display: none;
    }

    .headerCell {
        font-size: var(--font-size-xs);
    }

    .cell {
        font-size: var(--font-size-s);
    }

    .actionButton {
        font-size: var(--font-size-s);
        margin-right: var(--margin-xs);
    }
}

.viewAllLink {
    color: var(--accent1, #7371fc);
    text-decoration: none;
    font-size: var(--font-size-s, 12px);
    grid-column: 1 / -1;
    text-align: center;
    padding-left: var(--padding-s);
    margin-top: 8px;
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    width: 100%;
    background: var(--bg-dark2);
    text-align: left;
    padding: 0rem 1.7rem;
}
