.watchListNodeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.watchListNodeContent {
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.2rem !important;
    transition: all 0.2s ease-in-out;
    padding: 0.3rem;
}

.watchListNodeContent.active {
    cursor: default;
}

.watchListNodeContent:not(.active):hover {
    background-color: var(--dark4) !important;
}

.watchListNodeContainer div {
    background-color: transparent !important;
}

.watchListNodeContainer div {
    height: auto !important;
}

.symbolValue {
    margin-left: 0.5rem;
}
