.watchListNodeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    margin-left: 1rem;
    cursor: pointer;
}

.watchListNodeContainer div{
    height: auto !important;
}


 
.symbolValue{
    margin-left: .5rem;
    /* font-family: var(--font-family-azeret);
    letter-spacing: -.04rem; */
    font-family: var(--font-family-chivo);
}

.symbolValue.positive{
    color: var(--green);
}

.symbolValue.negative{
    color: var(--red);
}


.inverseColor .symbolValue.positive{
    color: var(--red);
}

.inverseColor .symbolValue.negative{
    color: var(--green);
}


