.container {
    display: flex;
    flex-direction: column;

    padding: var(--padding-s) var(--padding-m) var(--padding-m) 16px;
    gap: var(--gap-s);
    width: 439px;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-s);
    align-self: stretch;
}

.infoRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);

    color: var(--text2, #bcbcc4);
    text-align: center;

    font-size: var(--font-size-s, 12px);
}

.infoValue {
    font-size: var(--font-size-s, 12px);
}

.toggleContainer > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    left: 0;
    padding: var(--padding-m) 0;
}
.confirmButton {
    width: 100%;
    outline: none;
    border: none;

    display: flex;
    /* css variable wont apply here */
    height: 47px;
    padding: var(--button-padding);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--radius-s, 8px);
    background: var(--accent1, #7371fc);

    color: var(--base-text1, #f0f0f8);

    font-size: var(--font-size-m, 18px);
    transition: all var(--ease-in-out-med);
}
.confirmButton:hover {
    opacity: 0.8;
}

.green {
    color: var(--green, #26a69a);
}
.red {
    color: var(--red);
}
.white {
    color: var(--text1);
}
@media (max-width: 768px) {
    .container {
        width: auto;
    }
}
