.container {
    display: flex;
    flex-direction: column;

    padding: var(--padding-s) var(--padding-m) var(--padding-m) 16px;
    gap: var(--gap-s);
    width: 439px;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-s);
    align-self: stretch;
}

.infoRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-xs);

    color: var(--text2, #bcbcc4);
    text-align: center;

    font-size: var(--font-size-s, 12px);
}

.infoValue {
    font-size: var(--font-size-s, 12px);
}

.toggleContainer > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    left: 0;
    padding: var(--padding-m) 0;
}

.green {
    color: var(--green, #26a69a);
}
.red {
    color: var(--red);
}
.white {
    color: var(--text1);
}

.confirmButton {
    width: 100%;
    height: 47px;
    padding: var(--button-padding, 12px 16px);
    border: none;
    border-radius: var(--radius-s, 8px);
    font-size: var(--font-size-m, 18px);
    cursor: pointer;
    color: var(--text1, #f0f0f8);
    transition: background-color 0.3s ease;
    /* background: var(--accent1); */
}
.confirmButton:disabled {
    background: var(--bg-dark4, #27272c);
    color: var(--text2, #bcbcc4);
    cursor: not-allowed;
}
.confirmButton:disabled:hover {
    background: var(--bg-dark4, #27272c);
    color: var(--text2, #bcbcc4);
    cursor: not-allowed;
}
.confirmButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: var(--radius-s, 8px);
    transition: background 0.3s ease;
    pointer-events: none;
}

.confirmButton:hover::before {
    background: rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .container {
        width: auto;
    }
}
