@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0;
    }
}

@keyframes orderRowEffect {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.15;
    }
    100% {
        opacity: 0;
    }
}
.orderRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    font-size: 0.8rem;
    padding: 0 var(--padding-s);
}

.orderRow .ratio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
}

.orderRowPrice,
.orderRowSize,
.orderRowTotal {
    flex: 1 1;
    z-index: 2;
    cursor: pointer;
    user-select: none;
}

.orderRowPrice:hover,
.orderRowSize:hover,
.orderRowTotal:hover {
    font-weight: bold;
}

.orderRowTotal {
    text-align: right;
}

.orderRowSize {
    text-align: center;
}

.orderRow .fadeOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    animation: orderRowEffect 0.5s ease-in-out forwards;
}

.userOrderIndicator {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: var(--padding-xs);
    height: var(--padding-xs);
    border-radius: 100%;
    background-color: var(--neon-yellow);
    opacity: 1;
}

.focused {
    background-color: color-mix(in srgb, var(--neon-yellow) 13%, transparent);
    color: var(--neon-yellow) !important;
}

.focused .orderRowPrice {
    color: var(--neon-yellow) !important;
}

/* .userOrder .orderRowPrice,
.userOrder .orderRowSize,
.userOrder .orderRowTotal {
    color: var(--neon-yellow) !important;
} */

/* .userOrder {
    background-color: color-mix(in srgb, var(--neon-yellow) 13%, transparent);
} */
