.tradeTableWrapper {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-m);
    background: var(--bg-dark2, #0e0e14);

    display: flex;
    flex-direction: column;
}
.tableContent {
    padding: var(--padding-s) var(--padding-s) 0px var(--padding-s);
    height: 100%;
}
.tableControls {
    display: flex;
    align-items: center;
    gap: var(--gap-m);
}
