.tradeTableWrapper {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-m);
    background: var(--bg-dark2, #0e0e14);

    display: flex;
    flex-direction: column;
}
.tableContent {
    padding: var(--padding-s) var(--padding-s) 0px var(--padding-s);
    height: calc(100% - var(--trade-tables-tabs-height));
}

.portfolioPage.tableContent {
    height: calc(100% - 20px);
}

.tableControls {
    display: flex;
    align-items: center;
    gap: var(--gap-m);
}
.tableContent.noTabs {
    height: 100%; /* when we hide the Tabs bar, give the content full height */
}
